.smaller{
    width:100% !important;
    padding-right:5px !important;
    padding-left:5px !important;
}

.side-navigation{
    display:none;
    min-height: 10px;
    width: 100%;
    background-color:white;
    position:fixed;
    box-shadow:0px 2px 5px grey;
    z-index:999;
    padding:5px;
}

.side-navigation-btn {
    display: none;
    content: url('../img/down.png');
    position: fixed;
    width: 30px;
    margin-left: 90%;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 1000;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.unmovable{
    position:fixed !important;
}

iframe{
    border: none;
    padding: 0;
    margin: 0;
}